@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Rubik-Regular.woff") format("woff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-light);
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-medium);
  font-style: normal;
}
@font-face {
  font-family: "RubikVar";
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* brug fonten */
body {
  font-family: "RubikVar", system-ui, sans-serif;
}
