#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
}
.info-graphic {
  border-radius: 0;
  margin: 60px auto 80px auto;
}
.info-text h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  margin-bottom: 1rem;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.info-box {
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: var(--color-infobox-1-bg);
}
.info-box:nth-of-type(2n) {
  background-color: var(--color-infobox-2-bg);
}

.my_scale {
  color: aqua;
  size: 10em;
}
/* *******************************JEG HAR INDSAT********************************** */

.cls-2:hover {
  fill: #ff8a00; /* farve ved hover */
  transform: scale(2.4); /* gør prikken lidt større */
}

/* Klik-aktiv klasse */
.cls-2.active {
  fill: #000000; /* grøn når aktiv */
  transform: scale(2.4); /* lidt større ved klik */
}
*/ .cls-2 {
  fill: #ff2900;
  cursor: pointer;
  transition: transform 0.2s, fill 0.2s;
  transform-origin: center; /* <-- vigtigt */
}

.cls-2:hover {
  fill: #ea340b;
  transform: scale(2.2);
}

.cls-2.active {
  fill: #000000;
  transform: scale(2.4); /* samme skala som hover */
}
.cls-2 {
  fill: #ff2900;
  cursor: pointer;
  transition: transform 0.2s, fill 0.2s;
  transform-box: fill-box; /* <-- vigtigt for SVG */
  transform-origin: center; /* centrerer transformationen på cirklen */
}

.cls-2:hover {
  fill: #f14608;
  transform: scale(2.4);
}

.cls-2.active {
  fill: #00ff66;
  transform: scale(1.2);
}
